import discord 
from discord.ext import commands
import asyncio 

bot =                                                                   commands.Bot(command_prefix ='/'           )

@bot.event
async def on_ready():
	print("Bot is ready!")
	print(bot.user.name)
	print(bot.user.id)
	
bot=commands.Bot(command_prefix='/')

@bot.event
async def on_ready():
	print("Logged in as")
	print(bot.user.name)
	print(bot.user.id)
	print('------')
	
@bot.command()
async def ping(ctx):
	await bot.say('Pong!')




bot.run("NjA2MjUyMjgzNDQ5MzExMjQ2.XULZhQ.MvCanQTQz11FjpxQ694BTUreSTk")
